%i.fa.fa-flag{style: 'color: rgba(34,146,217,.7)'}
&nbsp;
=link_to a.owner.name.capitalize, a.owner
changed Alliances and moved to
- if a.trackable
	=link_to a.trackable.alliance.name, a.trackable.alliance
	.pull-right.ConquerTime
		%i.fa.fa-clock-o
		=time_ago_in_words(Time.at(a.owner.updated_at))
		ago
- else
	an alliance which has since been removed.