@import 'colors';

.cerb_player_head {
  height: 250px;
  background-color: $light_dark;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1em;
  line-height: 1.5em;
  border-radius: 4px 4px 0 0;
  .pl_q_info {
    padding: 15px 25px;
    height: 70px;
  }
  .pl_name {
    text-align: center;
    padding-top: 30px;
    height: 110px;
    p {
      font-size: 1.5em;
      display: inline-block;
      padding: 10px 20px;
      background-color: rgba(0,0,0,0.30);
      border-color: #676c6e;
      border-bottom-color: #444749;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      vertical-align: middle;
    }
  }
  .pl_q_u_info {
    padding: 30px 25px 15px 25px;
    height: 70px;
  }
}

// Under Header

.player_content {
  border-bottom: 1px solid #dfe4ee;
  border-bottom: 1px solid #cfd4d8;
  .nav-tabs {
    padding-top: 15px;
    padding-left: 20px;
    li.active a {
      background-color: #fff;
    }
  }
  .board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
  }
  .board{
    height: 100%;
    background: #fff;
    // box-shadow: 10px 10px #ccc, -10px 20px #ddd;
    border-radius: 0 0 4px 4px;
  }

}

// Bash Points Module
.PlayerStatisticModule {
  margin-bottom: 20px;
  border-radius: 4px;
  color: #fff;
  .Header {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    i {
      color: rgba(255,255,255,.5);
    }
  }
  .Body {
    padding: 15px;
    a {
      color: #fff; 
      &:hover {
      }
    }
  }
  table.HorizontalStatistics {
    width: 100%;
    tr {
      border-bottom: 1px solid rgba(255,255,255,.1);
      &:last-child {
        border: none;
      }
    }
  }
  
}

// Player Profile Header
.PlayerInfoHeader {
  padding: 15px;
  background: white;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
  .Section {
    color: rgba(255,255,255,.9);
    .Title {
      font-size: 14px;
    }
    .list-inline {
      margin: 0;
      h1 {
        font-size: 30px;
        margin: 0;
        font-weight: bold;
      }
      h5 {
        font-size: 11px;
        margin: 0;
      }
    }
  }
  .FollowUser {
    padding-top: 5px;
  }
}



.ModulePrimary {
  background-image: -moz-linear-gradient(-65deg, #2292d9 40%, #1d48ba);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #2292d9), color-stop(100%, #1d48ba));
  background-image: -webkit-linear-gradient(-65deg, #2292d9 40%, #1d48ba);
  background-image: -o-linear-gradient(-65deg, #2292d9 40%, #1d48ba);
  background-image: -ms-linear-gradient(-65deg, #2292d9 40%, #1d48ba);
  background-image: linear-gradient(155deg, #2292d9 40%,#1d48ba);
}

.ModuleOrange {
  background-image: -moz-linear-gradient(-65deg, #fbba52 40%, #fb792f);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(40%, #fbba52), color-stop(100%, #fb792f));
  background-image: -webkit-linear-gradient(-65deg, #fbba52 40%, #fb792f);
  background-image: -o-linear-gradient(-65deg, #fbba52 40%, #fb792f);
  background-image: -ms-linear-gradient(-65deg, #fbba52 40%, #fb792f);
  background-image: linear-gradient(155deg, #fbba52 40%,#fb792f);
}



// Labels
.GrepoLabelPrimary {
  background-color: rgba(0,0,0,.3);
}

.GrepoLabelOrange {
  background-color: rgba(218,81,4,.3);
}


.PlayerShowTable {
  tbody {
    tr {
      td {
        border: 0!important;
        .ConquerTime {
          color: #808990;
        }
      }
    }
    tr:nth-child(odd) {
      td {
        background-color: #f2f4f8;
        border-radius: 4px;
      }
    }
  }
}




///////////////////////////////////////////////////////////////////////////
// Tabs
.panel.player_show_panel .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.player_show_panel .nav-tabs{
  border-bottom: none;
}
.panel.player_show_panel .nav-justified{
  margin-bottom: -1px;
}

/*** PANEL PRIMARY ***/
.player_show_panel .nav-tabs > li > a,
.player_show_panel .nav-tabs > li > a:hover,
.player_show_panel .nav-tabs > li > a:focus {
    color: #fff;
}
.player_show_panel .nav-tabs > .open > a,
.player_show_panel .nav-tabs > .open > a:hover,
.player_show_panel .nav-tabs > .open > a:focus,
.player_show_panel .nav-tabs > li > a:hover,
.player_show_panel .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.player_show_panel .nav-tabs > li.active > a,
.player_show_panel .nav-tabs > li.active > a:hover,
.player_show_panel .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.player_show_panel .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
