.row
  .col-md-3
    .ActivitiesModule.ModulePrimary
      .Header
        Users you follow
        .pull-right
          %i.fa.fa-dot-circle-o
      .Body
        .center
          .FollowingCount
            =current_user.follow_count

  .col-md-9

    .ActivitiesNavigation.ModulePrimary
      .Header
        Activities
        .pull-right.DeleteActivities
          -if @activities.any?
            =link_to clear_activities_path do
              %i.fa.fa-check
                Clear all

    .panel
      .panel-body
        -if @activities.any?
          %table.table.ActivitiesTable
            %tbody
              -@activities.all.each do |a|
                %tr
                  %td 
                    =render_activity a
        -else
          .center
            %h5 No new Activities, Good job! 
